.appointment-container {
  width: 100%;
  max-width: 550px;
  margin: 50px auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.appointment-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.appointment-form label {
  font-weight: 600;
  font-size: 15px;
}

.appointment-form input,
.appointment-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #999;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  transition: 0.2s ease;
}

.appointment-form input:focus,
.appointment-form textarea:focus {
  border-color: #333;
}

.appointment-form textarea {
  height: 100px;
  resize: none;
}

button {
  padding: 14px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  opacity: 0.8;
}
/* Success Popup Background */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Popup Box */
.popup-box {
  background: #fff;
  padding: 20px 40px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: popupFade 0.3s ease-out;
}


@keyframes popupFade {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
