.services-page {
  padding: 50px 20px;
  text-align: center;
  /* background: #f2f2f2; */
  min-height: 100vh;
}

.services-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.service-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.service-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.service-card h3 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.service-card p {
  margin-top: 8px;
  color: #555;
}
