body {
  background-color: white;   /* Light pink color */
  margin: 0;
  padding: 0;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  font-size:18px;
  background-color: white; 
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}
/* Search bar in navbar */
.auth-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-search-input {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.navbar-search-btn {
  padding: 6px 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.navbar-search-btn:hover {
  background-color: #0056b3;
}


.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  font-weight: 500;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
}

.auth-buttons .btn {
  margin-left: 15px;
  padding: 8px 15px;
  border: 1px solid #002b5c;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
}

.login {
  background: #002b5c;
  color: white;
}

/* FOOTER */
/* FOOTER */
.main-footer {
  background: #001f3f;
  color: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.footer-left span {
  margin-right: 25px;
  font-size: 14px;
  cursor: pointer;
}

.footer-right .social {
  font-size: 22px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.footer-right .social:hover {
  transform: scale(1.2);
}

* {
  font-family: "Roboto", sans-serif;
}
.logo-img {
  width: 150px;
  height: 60px;
  animation: fadeLogo 2s ease-in-out infinite alternate;
  cursor: pointer;
}


@keyframes fadeLogo {
  from {
    opacity: 0.7;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
